html {
  font-size: 12px !important;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slickPc[data-v-ad015638] {
  width: 1000px;
  height: 433px;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}
.slickBox[data-v-ad015638] {
  width: 1000px;
  height: 433px;
  margin: 0 auto;
  position: relative;
}
.slickBox__item[data-v-ad015638] {
  width: 1000px;
  height: 433px;
  background: url(http://img.wangxiao.cn/bjupload/2019-07-03/bf06e3a3-5296-41f7-b97f-4e7a6f001bdb.jpg) no-repeat center bottom;
  background-size: 100%;
  position: relative;
}
.slickBox__item--bigImg[data-v-ad015638] {
  margin-left: 50px;
  height: 100%;
  width: auto;
}
.slickBox__item--right[data-v-ad015638] {
  width: 620px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  position: absolute;
  right: 0;
  top: 22px;
}
.slickBox__item--name[data-v-ad015638] {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #ff7800;
  margin-top: 38px;
  margin-bottom: 15px;
}
.slickBox__item--name span[data-v-ad015638] {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: #a8a8a8;
  vertical-align: bottom;
}
.slickBox__item--word[data-v-ad015638] {
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 10px;
}
.slickBox__item--word span[data-v-ad015638] {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  color: #ff7800;
}
.slickBox__item--btn[data-v-ad015638] {
  width: 129px;
  height: 41px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ea633e), to(rgba(254, 150, 121, 0.99)));
  background-image: linear-gradient(0deg, #ea633e 0%, rgba(254, 150, 121, 0.99) 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 21px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  position: absolute;
  text-decoration: none;
  right: 45px;
  top: 55px;
}
.slickBot[data-v-ad015638] {
  width: 440px;
  height: 95px;
  position: absolute;
  bottom: 28px;
  right: 94px;
}
.slickBot__item img[data-v-ad015638] {
  opacity: 0.5;
}
.slick-arrow {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 34px;
  cursor: pointer;
}
.slick-current img {
  opacity: 1 !important;
}
.slickBot .slick-current img {
  border: solid 2px #e9663e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
}
.slickBot__left {
  background: url(http://img.wangxiao.cn/bjupload/2019-07-03/e6aa26cd-d7a4-4d3c-8013-4af01ff55163.png) no-repeat center top;
  background-size: 100%;
  left: 0;
  margin-left: -50px;
}
.slickBot__right {
  background: url(http://img.wangxiao.cn/bjupload/2019-07-03/2fc3df0b-6542-412a-a113-b630dbb7819a.png) no-repeat center top;
  background-size: 100%;
  right: 0;
  margin-right: -35px;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-active .slickBot__item--img[data-v-7016b344] {
  border: solid 0.083rem #e9663e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 1 !important;
}
.slickWap[data-v-7016b344] {
  width: 28.635rem;
  position: relative;
  margin: 0 auto;
}
.slickBox[data-v-7016b344] {
  width: 28.635rem;
  margin: 0 auto;
  position: relative;
}
.slickBox__item[data-v-7016b344] {
  width: 28.635rem;
  height: 13.363rem;
  background: url(http://img.wangxiao.cn/bjupload/2019-07-03/bf06e3a3-5296-41f7-b97f-4e7a6f001bdb.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  margin-top: 1.494rem;
}
.slickBox__item--bigImg[data-v-7016b344] {
  margin-left: 0.747rem;
  height: 100%;
  width: auto;
}
.slickBox__item--right[data-v-7016b344] {
  width: 18.26rem;
  top: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.162rem;
  position: absolute;
  right: 0;
}
.slickBox__item--name[data-v-7016b344] {
  font-size: 1.162rem;
  font-weight: bold;
  line-height: 1;
  color: #ff7800;
  margin-top: 0.996rem;
  margin-bottom: 0.498rem;
}
.slickBox__item--name span[data-v-7016b344] {
  font-size: 0.913rem;
  font-weight: normal;
  line-height: 1;
  color: #a8a8a8;
  vertical-align: bottom;
}
.slickBox__item--word[data-v-7016b344] {
  font-size: 0.913rem;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 0.332rem;
}
.slickBox__item--word span[data-v-7016b344] {
  font-size: 0.913rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ff7800;
}
.slickBox__item--btn[data-v-7016b344] {
  width: 5.146rem;
  height: 1.6185rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ea633e), to(rgba(254, 150, 121, 0.99)));
  background-image: linear-gradient(0deg, #ea633e 0%, rgba(254, 150, 121, 0.99) 100%);
  -webkit-box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 0.81008rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.332rem;
  font-size: 0.996rem;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  position: absolute;
  text-decoration: none;
  right: 0.7055rem;
  top: 0.498rem;
}
.slickBot[data-v-7016b344] {
  width: 28.635rem;
  height: 9.462rem;
  margin-left: 0.83rem;
  margin-top: 1.0375rem;
}
.slickBot__item[data-v-7016b344] {
  width: 3.984rem;
  height: 3.984rem;
  display: inline-block;
  margin: 0 1.6849rem 0.747rem 0;
}
.slickBot__item img[data-v-7016b344] {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.slickBot__item--active img[data-v-7016b344] {
  border: solid 0.083rem #e9663e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 1 !important;
}
.slick-dots[data-v-7016b344] {
  width: 28.635rem;
  height: 9.462rem;
  margin-left: 0.83rem;
  margin-top: 1.0375rem;
}
.slick-dots li[data-v-7016b344] {
  width: 3.984rem;
  height: 3.984rem;
  display: inline-block;
  margin: 0 1.6849rem 0.747rem 0;
}
.slick-dots li button[data-v-7016b344] {
  display: none;
}
.slick-dots li--active img[data-v-7016b344] {
  border: solid 0.083rem #e9663e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 1 !important;
}
.baoming__box[data-v-0c6bff9a] {
  width: 785px;
  margin: 0 auto;
  position: relative;
}
.baoming__boxTab[data-v-0c6bff9a] {
  width: 370px;
  height: 60px;
  font-size: 0;
  position: absolute;
  top: -18px;
  left: 0;
  z-index: 2;
}
.baoming__boxTab li[data-v-0c6bff9a] {
  width: 179px;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(30, 146, 255, 0.99)), color-stop(50%, rgba(48, 123, 255, 0.99)), to(#4164ff)), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(90deg, rgba(30, 146, 255, 0.99) 0%, rgba(48, 123, 255, 0.99) 50%, #4164ff 100%), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal, normal;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  color: #25bc70;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 8px;
  color: #ffffff;
  padding-top: 19px;
}
.baoming__boxTab li.active[data-v-0c6bff9a] {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(254, 150, 121, 0.99)), to(#ea633e)), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(90deg, rgba(254, 150, 121, 0.99) 0%, #ea633e 100%), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal, normal;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.baoming__boxTab--right[data-v-0c6bff9a] {
  margin-left: 11px;
}
.baoming__boxContent[data-v-0c6bff9a] {
  position: relative;
  width: 785px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 10px;
  background: url(http://img.wangxiao.cn/bjupload/2019-07-03/a3eb4638-8010-4529-9864-df739063943e.png) no-repeat center top;
  background-size: cover;
  top: 42px;
  left: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 38px 30px 40px;
}
.baoming__boxContent ul[data-v-0c6bff9a] {
  width: 100%;
  font-size: 0;
}
.baoming__boxContent ul li[data-v-0c6bff9a] {
  width: 33%;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  color: #333333;
  margin-top: 38px;
  cursor: pointer;
}
.baoming__boxContent ul li i[data-v-0c6bff9a] {
  display: inline-block;
  width: 16px;
  height: 17px;
  border: solid 1px #333333;
  margin-right: 15px;
  vertical-align: middle;
}
.baoming__boxContent ul li i.active[data-v-0c6bff9a] {
  background: url(http://static.wangxiao.cn/zhuanti/2019jz1/vip/img/gou.png) no-repeat center top;
  background-size: 100%;
}
.baoming__boxContent ul li i.active1[data-v-0c6bff9a] {
  background: url(http://static.wangxiao.cn/zhuanti/2019jz1/vip/img/gou.png) no-repeat center top;
  background-size: 100%;
}
.baoming__boxContent ul.baoming__boxContent--quanke[data-v-0c6bff9a] {
  display: none;
}
.baoming__btn[data-v-0c6bff9a] {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.baoming__btn div[data-v-0c6bff9a] {
  width: 177px;
  height: 51px;
  border-radius: 26px;
  border: solid 2px #e9623d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
  padding-top: 11px;
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
  margin: 0 66px 0 66px;
  color: #eb6440;
}
@media screen and (max-width: 767px) {
  .baoming__box[data-v-0c6bff9a] {
    width: 28.5935rem;
    height: 14.7325rem;
    margin-top: 1.826rem !important;
  }
  .baoming__boxTab[data-v-0c6bff9a] {
    width: 15.3135rem;
    height: 2.49rem;
    top: 0.996rem;
  }
  .baoming__boxTab li[data-v-0c6bff9a] {
    width: 7.4285rem;
    height: 2.49rem;
    font-size: 0.996rem;
    padding-top: 0.7885rem;
    border-radius: 0.415rem 0.415rem 0 0;
  }
  .baoming__boxTab--right[data-v-0c6bff9a] {
    margin-left: 0.4565rem;
  }
  .baoming__boxContent[data-v-0c6bff9a] {
    width: 100%;
    height: 12.45rem;
    border-radius: 0px 0.415rem 0.415rem 0.415rem;
    padding: 0.415rem 0 1.1205rem 1.577rem;
  }
  .baoming__boxContent ul li[data-v-0c6bff9a] {
    font-size: 0.913rem;
    margin-top: 1.079rem;
    width: 50%;
  }
  .baoming__boxContent ul li i[data-v-0c6bff9a] {
    width: 0.664rem;
    height: 0.7055rem;
    border: solid 0.0415rem #333333;
    margin-right: 0.6225rem;
  }
  .baoming__btn[data-v-0c6bff9a] {
    bottom: 0.83rem;
  }
  .baoming__btn div[data-v-0c6bff9a] {
    width: 7.3455rem;
    height: 2.1165rem;
    border-radius: 1.05908rem;
    border: solid 0.083rem #e9623d;
    font-size: 0.996rem;
    padding-top: 0.5395rem;
    margin: 0 2.739rem 0 2.739rem;
  }
}
.baomingWap__box[data-v-3e9a3a6e] {
  width: 785px;
  margin: 0 auto;
  position: relative;
}
.baomingWap__boxTab[data-v-3e9a3a6e] {
  width: 370px;
  height: 60px;
  font-size: 0;
  position: absolute;
  top: -18px;
  left: 0;
  z-index: 2;
}
.baomingWap__boxTab li[data-v-3e9a3a6e] {
  width: 179px;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(30, 146, 255, 0.99)), color-stop(50%, rgba(48, 123, 255, 0.99)), to(#4164ff)), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(90deg, rgba(30, 146, 255, 0.99) 0%, rgba(48, 123, 255, 0.99) 50%, #4164ff 100%), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal, normal;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  color: #25bc70;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 8px;
  color: #ffffff;
  padding-top: 19px;
}
.baomingWap__boxTab li.active[data-v-3e9a3a6e] {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(254, 150, 121, 0.99)), to(#ea633e)), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(90deg, rgba(254, 150, 121, 0.99) 0%, #ea633e 100%), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal, normal;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.baomingWap__boxTab--right[data-v-3e9a3a6e] {
  margin-left: 11px;
}
.baomingWap__boxContent[data-v-3e9a3a6e] {
  position: relative;
  width: 785px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 10px;
  background: url(http://img.wangxiao.cn/bjupload/2019-07-03/a3eb4638-8010-4529-9864-df739063943e.png) no-repeat center top;
  background-size: cover;
  top: 42px;
  left: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 38px 30px 40px;
}
.baomingWap__boxContent ul[data-v-3e9a3a6e] {
  width: 100%;
  font-size: 0;
}
.baomingWap__boxContent ul li[data-v-3e9a3a6e] {
  width: 33%;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  color: #333333;
  margin-top: 38px;
  cursor: pointer;
}
.baomingWap__boxContent ul li i[data-v-3e9a3a6e] {
  display: inline-block;
  width: 16px;
  height: 17px;
  border: solid 1px #333333;
  margin-right: 15px;
  vertical-align: middle;
}
.baomingWap__boxContent ul li i.active[data-v-3e9a3a6e] {
  background: url(http://static.wangxiao.cn/zhuanti/2019jz1/vip/img/gou.png) no-repeat center top;
  background-size: 100%;
}
.baomingWap__boxContent ul li i.active1[data-v-3e9a3a6e] {
  background: url(http://static.wangxiao.cn/zhuanti/2019jz1/vip/img/gou.png) no-repeat center top;
  background-size: 100%;
}
.baomingWap__boxContent ul.baomingWap__boxContent--quanke[data-v-3e9a3a6e] {
  display: none;
}
.baomingWap__btn[data-v-3e9a3a6e] {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.baomingWap__btn div[data-v-3e9a3a6e] {
  width: 177px;
  height: 51px;
  border-radius: 26px;
  border: solid 2px #e9623d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
  padding-top: 11px;
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
  margin: 0 66px 0 66px;
  color: #eb6440;
}
@media screen and (max-width: 767px) {
  .baomingWap__box[data-v-3e9a3a6e] {
    width: 28.5935rem;
    height: 14.7325rem;
    margin-top: 1.826rem !important;
  }
  .baomingWap__boxTab[data-v-3e9a3a6e] {
    width: 15.3135rem;
    height: 2.49rem;
    top: 0.996rem;
  }
  .baomingWap__boxTab li[data-v-3e9a3a6e] {
    width: 7.4285rem;
    height: 2.49rem;
    font-size: 0.996rem;
    padding-top: 0.7885rem;
    border-radius: 0.415rem 0.415rem 0 0;
  }
  .baomingWap__boxTab--right[data-v-3e9a3a6e] {
    margin-left: 0.4565rem;
  }
  .baomingWap__boxContent[data-v-3e9a3a6e] {
    width: 100%;
    height: 12.45rem;
    border-radius: 0px 0.415rem 0.415rem 0.415rem;
    padding: 0.415rem 0 1.1205rem 1.577rem;
  }
  .baomingWap__boxContent ul li[data-v-3e9a3a6e] {
    font-size: 0.913rem;
    margin-top: 1.079rem;
    width: 50%;
  }
  .baomingWap__boxContent ul li i[data-v-3e9a3a6e] {
    width: 0.664rem;
    height: 0.7055rem;
    border: solid 0.0415rem #333333;
    margin-right: 0.6225rem;
  }
  .baomingWap__btn[data-v-3e9a3a6e] {
    bottom: 0.83rem;
  }
  .baomingWap__btn div[data-v-3e9a3a6e] {
    width: 7.3455rem;
    height: 2.1165rem;
    border-radius: 1.05908rem;
    border: solid 0.083rem #e9623d;
    font-size: 0.996rem;
    padding-top: 0.5395rem;
    margin: 0 2.739rem 0 2.739rem;
  }
}
.tan[data-v-ce82aeb8] {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.tan__box[data-v-ce82aeb8] {
  width: 696px;
  height: 450px;
  background-color: #ffffff;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -348px;
  margin-top: -225px;
  border-radius: 10px;
}
.tan__box--header[data-v-ce82aeb8] {
  width: 696px;
  height: 124px;
  background: url(../img/94e2518a964eec01a8185c4d4029367e.png) no-repeat center top;
  background-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 44px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.tan__box--icon[data-v-ce82aeb8] {
  position: absolute;
  width: 19px;
  height: 19px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATBAMAAACAfiv/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAG1BMVEX///////9HcEz////////////////////////Xh5bUAAAACXRSTlMiswCoQwuRYjA3xD2VAAAAfklEQVQI1yWPMQ6DMAxFDZzAKlJWy4K93ToixAGYsqNeoOIGcPK+n2Z6eopfHMs9deY7bP70wjqGVX9KHr7Y4A90dTBeaCQXUhq5gug3MkE0Z22IRjbMy/38I+NqCxlXG0QWtUE11Wad1kRrHZp60qxTU/prkyS6MLa1X8QZP1cjGwh7y0x3AAAAAElFTkSuQmCC) no-repeat center top;
  background-size: 100%;
  top: 9px;
  right: 19px;
  cursor: pointer;
}
.tan__box--title[data-v-ce82aeb8] {
  text-align: center;
  font-size: 37px;
  line-height: 1;
  color: #ffffff;
}
.tan__box--word[data-v-ce82aeb8] {
  width: 600px;
  font-size: 18px;
  line-height: 1;
  color: #333333;
  margin-left: 42px;
  margin-top: 10px;
}
.tan__box--word[data-v-ce82aeb8]::before {
  width: 5px;
  height: 5px;
  background-color: #333333;
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  line-height: 1.2;
  margin-right: 6px;
}
.tan__box--btn[data-v-ce82aeb8] {
  width: 414px;
  height: 59px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4164ff), color-stop(50%, rgba(48, 123, 255, 0.99)), to(rgba(30, 146, 255, 0.99)));
  background-image: linear-gradient(0deg, #4164ff 0%, rgba(48, 123, 255, 0.99) 50%, rgba(30, 146, 255, 0.99) 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 17px;
  text-align: center;
  cursor: pointer;
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .tan__box[data-v-ce82aeb8] {
    width: 28.884rem;
    height: 26.1865rem;
    margin-left: -14.442rem;
    margin-top: -12.948rem;
    border-radius: 0.332rem;
  }
  .tan__box--header[data-v-ce82aeb8] {
    width: 28.884rem;
    height: 5.146rem;
    padding-top: 1.826rem;
    margin-bottom: 0.996rem;
    border-radius: 0.332rem;
  }
  .tan__box--icon[data-v-ce82aeb8] {
    width: 1.8675rem;
    height: 1.8675rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4164ff), color-stop(50%, rgba(48, 123, 255, 0.99)), to(rgba(30, 146, 255, 0.99))), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background-image: linear-gradient(0deg, #4164ff 0%, rgba(48, 123, 255, 0.99) 50%, rgba(30, 146, 255, 0.99) 100%), linear-gradient(#ffffff, #ffffff);
    -webkit-box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
    border: solid 0.083rem #ffffff;
    border-radius: 50%;
    font-size: 1.66rem;
    text-align: center;
    line-height: 1.328rem;
    color: #ffffff;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: 0;
    top: 0;
    margin-right: -0.498rem;
    margin-top: -0.498rem;
  }
  .tan__box--title[data-v-ce82aeb8] {
    font-size: 1.53716rem;
  }
  .tan__box--word[data-v-ce82aeb8] {
    font-size: 0.996rem;
    margin-left: 1.743rem;
    width: 24.8585rem;
    line-height: 1.2;
  }
  .tan__box--word[data-v-ce82aeb8]::before {
    width: 0.2075rem;
    height: 0.2075rem;
    background-color: #333333;
    margin-right: 0.249rem;
  }
  .tan__box--btn[data-v-ce82aeb8] {
    width: 24.07rem;
    height: 3.4445rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4164ff), color-stop(50%, rgba(48, 123, 255, 0.99)), to(rgba(30, 146, 255, 0.99)));
    background-image: linear-gradient(0deg, #4164ff 0%, rgba(48, 123, 255, 0.99) 50%, rgba(30, 146, 255, 0.99) 100%);
    -webkit-box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
    border-radius: 1.72308rem;
    font-size: 1.40104rem;
    padding-top: 0.9545rem;
    margin-top: 1.8675rem;
  }
}
.header[data-v-7a8ee5b5] {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: url(../img/28ed0c8c9cbcbc16e1d2bb09f6490a41.jpg) no-repeat center top;
  background-size: cover;
}
section[data-v-7a8ee5b5] {
  width: 100%;
  margin: 0 auto;
}
.s1[data-v-7a8ee5b5] {
  padding: 73px 0 89px 0;
  background: url(../img/e3abdbd47b0334bf18cc24e54483cc05.jpg) no-repeat center top;
  background-size: cover;
  text-align: center;
}
.s1__title[data-v-7a8ee5b5] {
  display: block;
  margin: 0 auto;
}
.s1__item[data-v-7a8ee5b5] {
  margin: 54px 44px 0 44px;
}
.s2[data-v-7a8ee5b5] {
  padding: 60px 0 43px 0;
  background: url(../img/26bf1032e306df543b1210bd4c05f9ac.jpg) no-repeat center top;
  background-size: cover;
  text-align: center;
}
.s2__title[data-v-7a8ee5b5] {
  display: block;
  margin: 0 auto;
  margin-bottom: 52px;
}
.s2__box[data-v-7a8ee5b5] {
  width: 954px;
  height: 607px;
  background: url(../img/7c05fcad69cf77be2cbd0a8a7e3f337f.png) no-repeat center top;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
}
.s2__box--btn[data-v-7a8ee5b5] {
  width: 300px;
  height: 90px;
  cursor: pointer;
  position: absolute;
  left: 347px;
  top: 281px;
}
.s3[data-v-7a8ee5b5] {
  padding: 27px 0 25px 0;
  background: url(../img/e0cee79231c9b63ffeeb1dc73161d544.jpg) no-repeat center top;
  background-size: cover;
}
.s3__title[data-v-7a8ee5b5] {
  margin: 0 auto;
  display: block;
}
.s3__box[data-v-7a8ee5b5] {
  display: block;
  margin: 0 auto;
  margin-top: 75px;
}
.s4[data-v-7a8ee5b5] {
  padding: 44px 0;
  background: url(../img/0ea6ecf0006a74e2428a096ddf3e896a.jpg) no-repeat center top;
  background-size: cover;
  text-align: center;
}
.s4__title[data-v-7a8ee5b5] {
  display: block;
  margin: 0 auto;
  margin-bottom: 53px;
}
.s4__item[data-v-7a8ee5b5] {
  margin: 0 9px 25px 9px;
}
.s4__btn[data-v-7a8ee5b5] {
  margin: 0 auto;
  margin-top: 23px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  width: 294px;
  height: 59px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ea633e), to(rgba(254, 150, 121, 0.99)));
  background-image: linear-gradient(0deg, #ea633e 0%, rgba(254, 150, 121, 0.99) 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding-top: 18px;
  cursor: pointer;
}
.s5[data-v-7a8ee5b5] {
  padding: 55px 0 67px 0;
  background: url(../img/5884122111a4735590714a0723895a50.jpg) no-repeat center top;
  background-size: cover;
  text-align: center;
}
.s5__title[data-v-7a8ee5b5] {
  font-size: 46px;
  font-weight: bold;
  line-height: 1;
  color: #333333;
}
.s5__title span[data-v-7a8ee5b5] {
  font-size: 46px;
  color: #2452ce;
}
.s5__box1[data-v-7a8ee5b5] {
  display: block;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 50px;
}
.s5__box2[data-v-7a8ee5b5] {
  cursor: pointer;
}
.s6[data-v-7a8ee5b5] {
  padding: 67px 0 56px 0;
  background: url(../img/f9149375eefa957faf31b3c2a2c7ed5b.jpg) no-repeat center top;
  background-size: cover;
}
.s6__title[data-v-7a8ee5b5] {
  display: block;
  margin: 0 auto;
}
.s7[data-v-7a8ee5b5] {
  padding: 63px 0 67px 0;
  background: url(../img/01a22f07385409c5976638f60f1a470e.jpg) no-repeat center top;
  background-size: cover;
  text-align: center;
}
.s7__title[data-v-7a8ee5b5] {
  display: block;
  margin: 0 auto;
  margin-bottom: 91px;
}
.s7__item[data-v-7a8ee5b5] {
  margin: 0 19px 45px 19px;
  position: relative;
  width: 453px;
  height: 581px;
  display: inline-block;
}
.s7__item--btn[data-v-7a8ee5b5] {
  width: 204px;
  height: 66px;
  position: absolute;
  bottom: 10px;
  left: 136px;
  cursor: pointer;
}
.s7__item-1[data-v-7a8ee5b5] {
  background: url(../img/6e254a19a762ab8efe130a6838d78505.png) no-repeat center top;
  background-size: 100%;
}
.s7__item-2[data-v-7a8ee5b5] {
  background: url(../img/d976f9a55453ff3925255eb6193dce2b.png) no-repeat center top;
  background-size: 100%;
}
.s7__item-3[data-v-7a8ee5b5] {
  background: url(../img/0897c460e0bbf60cc0493513a08634b3.png) no-repeat center top;
  background-size: 100%;
}
.s7__item-4[data-v-7a8ee5b5] {
  background: url(../img/d671713bd66363db7c942458637ea7e7.png) no-repeat center top;
  background-size: 100%;
}
.s7__btn[data-v-7a8ee5b5] {
  margin: 0 auto;
  margin-top: 8px;
  width: 433px;
  height: 93px;
  border-radius: 47px;
  border: solid 1px #ffffff;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  padding-top: 30px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.s8[data-v-7a8ee5b5] {
  padding: 75px 0 84px 0;
  background: url(../img/2b98ad22649639c54edabe5129e0084f.jpg) no-repeat center top;
  background-size: cover;
}
.s8__title[data-v-7a8ee5b5] {
  display: block;
  margin: 0 auto;
}
.s8 .baoming__box[data-v-7a8ee5b5] {
  margin-top: 72px;
}
.footer[data-v-7a8ee5b5] {
  background: url(../img/ffca500b85612d203afe411642928693.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 236px;
}
@media screen and (max-width: 767px) {
  .header[data-v-7a8ee5b5] {
    width: 31.125rem;
    height: 18.426rem;
    background: url(../img/aad9e0ec7e9d61349c8191554c6f3795.jpg) no-repeat center top;
    background-size: 100%;
  }
  section[data-v-7a8ee5b5] {
    width: 31.125rem;
  }
  .s1[data-v-7a8ee5b5] {
    padding: 1.992rem 0 2.324rem 0;
    background: url(../img/0fc9e74ded13b6ed3e8bb3399495e78b.jpg) no-repeat center top;
    background-size: cover;
  }
  .s1__title[data-v-7a8ee5b5] {
    width: 28.054rem;
    height: 3.0295rem;
  }
  .s1__item[data-v-7a8ee5b5] {
    width: 9.047rem;
    height: 16.0605rem;
    margin: 1.162rem 0.3735rem 0 0.3735rem;
  }
  .s2[data-v-7a8ee5b5] {
    padding: 2.3655rem 0 1.909rem 0;
    background: url(../img/77b63b08d8a0660c7804ccf909c01436.jpg) no-repeat center top;
    background-size: cover;
  }
  .s2__title[data-v-7a8ee5b5] {
    width: 28.137rem;
    height: 4.6065rem;
  }
  .s2__box[data-v-7a8ee5b5] {
    width: 28.7595rem;
    height: 23.6135rem;
    background: url(../img/ff72eb0b1b4b7ea4b4df51d5ac581edb.png) no-repeat center top;
    background-size: 100%;
  }
  .s2__box--btn[data-v-7a8ee5b5] {
    width: 10.1675rem;
    height: 3.1125rem;
    top: 11.122rem;
    left: 9.213rem;
  }
  .s3[data-v-7a8ee5b5] {
    padding: 1.7015rem 0 1.3695rem 0;
    background: url(../img/4ea824f244be59ef6ff14cc5f897f03b.jpg) no-repeat center top;
    background-size: cover;
  }
  .s3__title[data-v-7a8ee5b5] {
    width: 28.0955rem;
    height: 3.486rem;
  }
  .s3__box[data-v-7a8ee5b5] {
    width: 29.3405rem;
    height: 19.9615rem;
    margin-top: 1.079rem;
  }
  .s4[data-v-7a8ee5b5] {
    padding: 1.66rem 0 1.66rem 0;
    background: url(../img/054a3fdac5d2290c6bf2f8c16d8a340e.jpg) no-repeat center top;
    background-size: cover;
    margin-top: -0.332rem;
  }
  .s4__title[data-v-7a8ee5b5] {
    width: 28.0955rem;
    height: 4.0255rem;
    margin-bottom: 1.826rem;
  }
  .s4__item[data-v-7a8ee5b5] {
    width: 9.545rem;
    height: 18.426rem;
    margin: 0 0.166rem 0.9545rem 0.166rem;
  }
  .s4__item-7[data-v-7a8ee5b5] {
    width: 29.299rem;
    height: 9.9185rem;
  }
  .s4__btn[data-v-7a8ee5b5] {
    width: 16.7245rem;
    height: 2.4485rem;
    border-radius: 1.22508rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ea633e), to(rgba(254, 150, 121, 0.99)));
    background-image: linear-gradient(0deg, #ea633e 0%, rgba(254, 150, 121, 0.99) 100%);
    -webkit-box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
    font-size: 0.996rem;
    padding-top: 0.747rem;
    margin-top: 1.1205rem;
  }
  .s5[data-v-7a8ee5b5] {
    padding: 0.996rem 0 0 0;
    background: url(../img/cc8c126c917dbbc54c3601b8066fcac3.jpg) no-repeat center top;
    background-size: cover;
  }
  .s5__title[data-v-7a8ee5b5] {
    line-height: 1.5;
    font-size: 1.66rem;
  }
  .s5__title span[data-v-7a8ee5b5] {
    font-size: 1.66rem;
  }
  .s5__box1[data-v-7a8ee5b5] {
    width: 28.1785rem;
    height: 17.7205rem;
    margin-top: 2.1995rem;
    margin-bottom: 0.7055rem;
  }
  .s5__btn[data-v-7a8ee5b5] {
    width: 16.5585rem;
    height: 2.6975rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4164ff), color-stop(50%, rgba(48, 123, 255, 0.99)), to(rgba(30, 146, 255, 0.99)));
    background-image: linear-gradient(0deg, #4164ff 0%, rgba(48, 123, 255, 0.99) 50%, rgba(30, 146, 255, 0.99) 100%);
    -webkit-box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 0.415rem 0rem rgba(0, 0, 0, 0.2);
    border-radius: 1.34958rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.162rem;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    padding-top: 0.747rem;
    margin: 0 auto;
    margin-bottom: 2.49rem;
  }
  .s5__box2[data-v-7a8ee5b5] {
    width: 100%;
  }
  .s6[data-v-7a8ee5b5] {
    padding: 1.826rem 0 1.3695rem 0;
    position: relative;
    margin-top: -0.498rem;
    background: url(../img/ac887d173421250ad5ee1857fc06080f.jpg) no-repeat center top;
    background-size: cover;
  }
  .s6__title[data-v-7a8ee5b5] {
    width: 28.0955rem;
    height: 3.7765rem;
  }
  .s7[data-v-7a8ee5b5] {
    padding: 1.743rem 0 2.075rem 0;
    background: url(../img/bbce36359a6e7c022e4970ad0d099ef9.jpg) no-repeat center top;
    background-size: cover;
    margin-top: -0.166rem;
  }
  .s7__title[data-v-7a8ee5b5] {
    width: 28.137rem;
    height: 5.229rem;
    margin-bottom: 1.66rem;
  }
  .s7__item[data-v-7a8ee5b5] {
    width: 14.525rem;
    height: 18.5505rem;
    margin: 0 0.498rem 0.83rem 0.498rem;
  }
  .s7__item-1[data-v-7a8ee5b5] {
    background: url(../img/c47432b286584b718c81355132b51e91.png) no-repeat center top;
    background-size: 100%;
  }
  .s7__item-2[data-v-7a8ee5b5] {
    background: url(../img/afb20b39a00c2b2646a01792615e6740.png) no-repeat center top;
    background-size: 100%;
  }
  .s7__item-3[data-v-7a8ee5b5] {
    background: url(../img/0030166dba4b0e09a6f245d43b8c8fa1.png) no-repeat center top;
    background-size: 100%;
  }
  .s7__item-4[data-v-7a8ee5b5] {
    background: url(../img/d8039e24a978e0889035ade1fa492bd6.png) no-repeat center top;
    background-size: 100%;
  }
  .s7__item--btn[data-v-7a8ee5b5] {
    width: 9.0055rem;
    height: 2.075rem;
    bottom: 0.415rem;
    left: 3.154rem;
  }
  .s7__btn[data-v-7a8ee5b5] {
    width: 17.9695rem;
    height: 3.8595rem;
    border-radius: 1.93058rem;
    border: solid 0.0415rem #ffffff;
    font-size: 1.245rem;
    padding-top: 1.328rem;
    margin-top: 2.822rem;
    display: block;
    text-decoration: none;
  }
  .s8[data-v-7a8ee5b5] {
    padding: 1.909rem 0 2.6145rem 0;
    background: url(../img/0a6f4b99f7add5b77711c2d85fad5c48.jpg) no-repeat center top;
    background-size: cover;
    margin-top: -0.166rem;
  }
  .s8__title[data-v-7a8ee5b5] {
    width: 28.0955rem;
    height: 4.9385rem;
  }
  .footer[data-v-7a8ee5b5] {
    background: url(../img/2730b09f0671c962394b23cc65f468b8.jpg) no-repeat center top;
    background-size: 100%;
    width: 31.125rem;
    height: 11.4125rem;
  }
}
/*# sourceMappingURL=app.css.map*/
